@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,900,700,600);

@font-face {font-family: "Futura";
    src: url("../../../../library/font2/202277425a495fa4b4a00b3dcbe64d38.eot"); /* IE9*/
    src: url("../../../../library/font2/202277425a495fa4b4a00b3dcbe64d38.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../../library/font2/202277425a495fa4b4a00b3dcbe64d38.woff2") format("woff2"), /* chrome firefox */
    url("../../../../library/font2/202277425a495fa4b4a00b3dcbe64d38.woff") format("woff"), /* chrome firefox */
    url("../../../../library/font2/202277425a495fa4b4a00b3dcbe64d38.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../../../../library/font2/202277425a495fa4b4a00b3dcbe64d38.svg") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Brandon";
    src: url("../../../../library/font1/6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("../../../../library/font1/6dd2f2510b4a00a5461b2455928209c21.eot") format("embedded-opentype"),
    url("../../../../library/font1/6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"),
    url("../../../../library/font1/6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"),
    url("../../../../library/font1/6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"),
    url("../../../../library/font1/6dd2f2510b4a00a5461b2455928209c2.svg") format("svg");
}

@font-face {
    font-family: 'Road';
    src: url("../../../../library/Road_Rage.otf") format("opentype");
}
@font-face {
    font-family: 'Highjack';
    src: url("../../../../library/Highjack_Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Hughs';
    src: url("../../../../library/Hughs.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0px;
    color: #171717;
    background: #eee; 
    font-size: 13px;
    overflow: hidden;
    position: relative;
    top: 30px;
}


::-webkit-scrollbar {
    width: 5px;
    background: rgb(34, 41, 46);
}
::-webkit-scrollbar-thumb {
    background: rgb(51,57,63);
    border-radius: 0px;
}



.frame {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100vw;
    height: 30px;
    background: #eee;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.nameapp {
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    left: 12px;
    font-family: 'Raleway';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #000000;
}

.descfn {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    height: 30px;
    line-height: 30px;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    font-size: 9px;
    color: #000;
}
.descNLb {
    font-weight: 600;
    color: #000;
}

.nameappmac {
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #000;
}

.sd {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    right: 0;
    background: url(../../../../img/x.png) no-repeat center center;
    background-size: 30%;
    -webkit-app-region: no-drag;
}

.sdmac {
    position: absolute;
    height: 11px;
    width: 11px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background: rgb(252,90,82);
    border-radius: 100%;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.sdd {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    right: 60px;
    background: url(../../../../img/min.png) no-repeat center 11px;
    background-size: 48%;
    text-align: center;
    line-height: 15px;
    -webkit-app-region: no-drag;
}

.sddmac {
    position: absolute;
    height: 11px;
    width: 11px;
    top: 50%;
    transform: translateY(-50%);
    left: 31px;
    background: rgb(229,192,40);
    border-radius: 100%;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.sddd {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    right: 30px;
    background: url(../../../../img/max.png) no-repeat center center;
    background-size: 35%;
    -webkit-app-region: no-drag;
}

.sdddmac {
    position: absolute;
    height: 11px;
    width: 11px;
    top: 50%;
    transform: translateY(-50%);
    left: 52px;
    background:rgb(83,194,43);
    border-radius: 100%;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.sd:hover {
    background-color:#fc1800a3;
    cursor: pointer;
}

.sddd:hover, .sdd:hover {
    background-color:#0000001a;
    cursor: pointer;
}



a {
    color: inherit !important;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
abbr {
    color: inherit !important;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
a:active {
    color: inherit !important;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
a:focus {
    color: inherit !important;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
a:visited {
    color: inherit !important;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../../../../library/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 30px);
}