body {
  background: #eee;
}

.frame {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  height: 30px;
  background: rgba(180, 180, 180, 0.04);
  /* -webkit-user-select: none; */
  -webkit-app-region: drag;
}

.nameapp,
.nameappmac {
  color: #171717;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sd {
  background: url(../../../../icons/x.png) no-repeat center center;
  background-size: 30%;
  filter: none;
}

.sdd {
  background: url(../../../../icons/min.png) no-repeat center center;
  background-size: 48%;
  filter: none;
}

.sddd {
  background: url(../../../../icons/max.png) no-repeat center center;
  background-size: 35%;
  filter: none;
}

.sd:hover {
  filter: invert(1);
  background-color: #44d3c6;
  cursor: pointer;
}

.sddd:hover,
.sdd:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 30px);
}

.dialogwrap {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: rgba(28, 35, 41, 0.7);
  /* transition: all 0.2s ease-in-out; */
}

.lding_ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  width: 75px;
  z-index: -1;
  filter: blur(1px) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.bcblak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: transparent;
}

/* RATING BOX */

.dialogwin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  background: #eee;
  box-shadow: 0px 2px 12px #00000047;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, 0);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
.dialogwin_ {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  background: #eee;
  box-shadow: 0px 2px 12px #00000047;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

.ratingDlg-Title {
  color: #000;
  font-family: "Gilroy";
  padding: 40px 50px;
  padding-bottom: 7px;
  font-size: 23px;
  text-align: center;
}

.ratingDlg-Label {
  color: #6d6d6d;
  font-family: "Gilroy";
  padding: 0 20px;
  font-size: 15px;
  text-align: center;
}

.ratingDlg-Stars {
  padding: 40px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  grid-gap: 10px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.ratingDlg-Stars > i {
  color: #00000038;
  font-size: 40px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.ratingDlg-Stars > i:hover,
.ratingDlg-Stars > i:hover ~ i {
  color: #ffb03a;
}
