@import url(../library/Raleway/fontData.css);
@import url(../library/Gilroy/fontData.css);
@import url(../library/Brandon/fontData.css);

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../library/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}
abbr {
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}
a:active {
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}
a:focus {
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}
a:visited {
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: rgb(34, 41, 46);
}
::-webkit-scrollbar-thumb {
  background: rgb(51, 57, 63);
  border-radius: 0px;
}

body {
  margin: 0;
  padding: 0px;
  color: #fff;
  background: #1c2329;
  font-size: 13px;
  overflow: hidden;
  position: relative;
  top: 30px;
}
