.loadingfake {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: calc(100vh - 30px);
  background: #1c2329;
  left: 0;
  top: 30px;
}

.loadingfake .wrapload {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gilroy";
  font-size: 80px;
  font-weight: 600;
  color: #475e694d;
  text-shadow: 0px 2px 5px #00000026;
}
.loadingfake .wrapSchoolsBottom {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}
.loadingfake .wrapSchoolsBottom img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(161deg)
    brightness(106%) contrast(102%);
  opacity: 0.2;
}

.bnvz1 {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 30px);
  background: #1c2329;
  left: 0;
  top: 30px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transform-origin: center;
}
.bnvz1_ {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 30px);
  background: #1c2329;
  left: 0;
  top: 30px;
  overflow: hidden;
  opacity: 1;
  pointer-events: fill;
  transform: scale(1);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loginsWrapper {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.frmlgn_ {
  display: block;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  width: 350px;
  background: #1c2329ab;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 12px #00000040;
  opacity: 1;
  pointer-events: fill;
  transition: opacity 300ms ease-in-out;
}
.frmlgn {
  display: block;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  background: #1c2329ab;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 12px #00000040;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.tit1 {
  display: block;
  margin-bottom: 35px;
}
.st {
  display: block;
  font-size: 25px;
  position: relative;
  text-transform: capitalize;
  font-family: "Gilroy";
  font-weight: 400;
  margin-bottom: 10px;
}
.lildescin {
  text-transform: capitalize;
  font-family: "Gilroy";
  font-weight: 400;
  color: #8c9ca9;
  font-size: 15px;
}

.page-links {
  display: flex;
  grid-gap: 20px;
}

.page-links div {
  position: relative;
  font-family: "Gilroy";
  text-transform: capitalize;
  color: #eee;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-links div:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-links div.pglnkActive:after {
  background-color: #fff;
}
.page-links div:hover:after,
.page-links div:focus:after {
  background-color: #fff;
}

.frm {
  display: block;
}

.inptxt {
  margin-top: 8px;
  background: rgb(255 255 255 / 0.05);
  border: none;
  outline: none;
  color: #dedbdb;
  font-family: "Brandon";
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 5px;
  width: calc(100% - 40px);
  margin-bottom: 8px;
  font-weight: 800;
  letter-spacing: 0.3px;
}

.logintools {
  display: block;
  margin: 15px 0;
}
.keepme {
  display: block;
  text-align: left;
}
.chkedbox_ {
  display: none;
}

.chkedbox_ + .lb2:before {
  content: "";
  background: rgb(255 255 255 / 0.2);
  width: 15px;
  height: 15px;
  transition: 0.2s;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  display: inline-table;
  position: relative;
  vertical-align: middle;
  margin-right: 11px;
  top: -1px;
}
label.lb2 {
  font-size: 15px;
  color: #d4d4d4;
  cursor: pointer;
  position: relative;
  font-family: "Gilroy";
}

.chkedbox_:checked + .lb2:before {
  background: #eee;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.butsign {
  background: #325fa5;
  color: #fff;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 8px 26px;
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
  font-family: "Raleway";
  font-weight: 500;
  box-shadow: 0px 2px 5px #00000024;
}

label.lb3 {
  font-size: 15px;
  color: #92abbf;
  cursor: pointer;
  position: relative;
  font-family: "Gilroy";
}
label.lb3:hover {
  color: #fff;
}

.signupdiv {
  display: block;
  padding: 80px 30%;
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1c2329ab;
  backdrop-filter: blur(2px);
  opacity: 1;
  transform: scale(1);
  pointer-events: fill;
  transition: transform 300ms ease-in-out, opacity 100ms ease-in-out;
}
.signupdiv_ {
  display: block;
  padding: 80px 30%;
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1c2329ab;
  backdrop-filter: blur(2px);
  opacity: 0;
  transform: scale(1.5);
  pointer-events: none;
  transition: transform 300ms ease-in-out, opacity 100ms ease-in-out;
}

.backbut {
  display: block;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Gilroy";
  font-size: 15px;
  text-decoration: underline;
  opacity: 0.6;
}
.backbut:hover {
  opacity: 1;
}

.sgndiv {
  display: block;
}

.sgndiv label.lb {
  font-family: "Gilroy";
  font-size: 15px;
  text-transform: capitalize;
}

.birth {
  margin-top: 8px;
  background: rgb(255 255 255 / 0.05);
  border: none;
  outline: none;
  color: #dedbdb;
  font-family: "Brandon";
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 5px;
  width: -webkit-fill-available;
  margin-bottom: 8px;
  font-weight: 800;
  letter-spacing: 0.3px;
}

.birth option {
  background: #1c2329;
  color: #fff;
}
.inptxt option {
  background: #1c2329;
  color: #fff;
}

select option[disabled] {
  display: none;
}

/* FORGET PSS */

.forgtdiv {
  display: block;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  width: 350px;
  background: #1c2329ab;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 12px #00000040;
  opacity: 1;
  overflow: hidden;
  pointer-events: fill;
  transition: opacity 300ms ease-in-out;
}
.forgtdiv_ {
  display: block;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  background: #1c2329ab;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 12px #00000040;
  transform: translate(-50%, -50%);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.lildescin span {
  text-transform: lowercase;
}

.backButFrgt {
  margin-bottom: 20px;
  background: #ffffff14;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.backButFrgt:hover {
  background: #ffffff38;
}

.backButFrgt i.material-icons {
  font-size: 20px;
  line-height: 30px;
}

.tick-holder {
  text-align: center;
  margin-bottom: 12px;
}

.tick-holder .tick-icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: rotate(35deg) scale(2);
  -moz-transform: rotate(35deg) scale(2);
  -ms-transform: rotate(35deg) scale(2);
  transform: rotate(35deg) scale(2);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.tick-holder .tick-icon:before {
  content: "";
  position: absolute;
  background-color: #8ccb57;
  width: 10px;
  height: 2px;
  top: 28px;
  left: 14px;
  border-radius: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.tick-holder .tick-icon:after {
  content: "";
  position: absolute;
  background-color: #8ccb57;
  width: 2px;
  height: 20px;
  top: 9px;
  left: 22px;
  border-radius: 2px;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.show-it .tick-icon {
  -webkit-animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s
    forwards;
  -moz-animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
  -ms-animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
  animation: tick-anime3 0.7s cubic-bezier(0.34, 1.61, 0.7, 1) 0s forwards;
}

.show-it .tick-icon:before {
  -webkit-animation: tick-anime1 0.2s linear 0.2s forwards;
  -moz-animation: tick-anime1 0.2s linear 0.2s forwards;
  -ms-animation: tick-anime1 0.2s linear 0.2s forwards;
  animation: tick-anime1 0.2s linear 0.2s forwards;
}

.show-it .tick-icon:after {
  -webkit-animation: tick-anime2 0.4s ease 0.4s forwards;
  -moz-animation: tick-anime2 0.4s ease 0.4s forwards;
  -ms-animation: tick-anime2 0.4s ease 0.4s forwards;
  animation: tick-anime2 0.4s ease 0.4s forwards;
}

@keyframes tick-anime1 {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes tick-anime2 {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes tick-anime3 {
  0% {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform: rotate(35deg) scale(2);
    -moz-transform: rotate(35deg) scale(2);
    -ms-transform: rotate(35deg) scale(2);
    transform: rotate(35deg) scale(2);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}

.hide-it {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transform-origin: center center;
  transform: scale(0.7) translateX(-200px);
}

.frgtdivItem {
  transition: all 300ms ease-in-out;
  position: relative;
}
.frgtdivSent {
  position: absolute;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  top: 55%;
  left: 50%;
  width: -webkit-fill-available;
  transform-origin: center center;
  transform: scale(0.7) translateX(50%) translateY(-50%);
  transition: all 0.4s ease;
}

.show-it {
  opacity: 1;
  pointer-events: fill;
  transform: scale(1) translateX(-50%) translateY(-50%);
}

.frgtdivSent .info-holder {
  border-top: 2px solid rgb(255 255 255 / 0.3);
  padding: 10px;
  width: 240px;
  margin: auto;
  margin-top: 20px;
  font-family: "Brandon";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
}

.frgtdivSent .info-holder div {
  color: #9bdfff;
  cursor: pointer;
}

/* CONTENT */

.mrbnvz2 {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - 30px);
  left: 0;
  top: 30px;
  overflow: hidden;
}
.animone_ {
  position: absolute;
  background: #f5f6fa;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.animone {
  position: absolute;
  background: #f5f6fa;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.animtwo_ {
  position: absolute;
  background: #1c2329;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  transition: all 0.4s ease-in-out;
  z-index: 2;
}
.animtwo {
  position: absolute;
  background: #1c2329;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.sdmn_ {
  position: absolute;
  background: #171c21;
  width: 60px;
  height: 100%;
  z-index: 5;
  transform: translateX(-60px);
  transition: all 0.4s ease-in-out;
}
.sdmn {
  position: absolute;
  background: #171c21;
  width: 60px;
  height: 100%;
  z-index: 5;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.sdvan {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5px;
  transition: all 0.3s ease-in-out;
}
.sdvan:hover {
  opacity: 1;
  background: #ffffff24;
  transition: all 0.3s ease-in-out;
}
.oncsd {
  opacity: 1 !important;
  background: #ffffffe3;
  transition: all 0.3s ease-in-out;
}

.oncsd:hover {
  background: #ffffffe3 !important;
}

.oncsd img {
  filter: none !important;
}

.sdvan img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  object-fit: contain;
  margin: 0;
  padding: 0;
  filter: invert(1);
}

.cli {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../img/calendar.png) no-repeat center center;
  background-size: contain;
}

#nws span {
  position: absolute;
  background: #f44336;
  border-radius: 100%;
  top: 10px;
  left: 29px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  padding: 0px 5px;
  font-family: "Brandon";
  font-weight: bold;
  font-size: 11px;
}

.bgtncbzf {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  margin: 30px auto;
  cursor: pointer;
  font-weight: 800;
  color: #778aa9;
  width: 90px;
}

.wrapper {
  position: absolute;
  z-index: 3;
  left: 60px;
  width: calc(100vw - 60px);
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.firscard {
  position: absolute;
  width: 100%;
  height: calc(100%);
  z-index: 9;
  left: 0;
  top: 0;
  padding: 0;
  transform: scale(1);
  opacity: 1;
  pointer-events: fill;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.firscard_ {
  position: absolute;
  width: 100%;
  height: calc(100%);
  z-index: 9;
  left: 0;
  top: 0;
  padding: 0;
  transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.mainone {
  position: absolute;
  background: rgba(28, 35, 41, 0.8);
  border-radius: 0;
  width: 360px;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  box-shadow: 2px 0px 12px #00000047;
}
.maintwo {
  position: absolute;
  background: rgba(28, 35, 41, 0.9);
  top: 0;
  left: 360px;
  width: calc(100% - 360px);
  height: 100%;
  z-index: 1;
}

.submainone {
  position: absolute;
  overflow: hidden;
  width: calc(100% - 30px);
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.sbmnimg {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
  box-shadow: 0px 2px 5px #00000042;
}
.fileLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(25, 30, 35, 0.7);
  z-index: 2;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Brandon";
  font-weight: bold;
  text-align: center;
  line-height: 146px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.sbmnimg:hover .fileLabel {
  opacity: 1 !important;
}
.sbmnimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.submnstatus1 {
  position: relative;
  display: block;
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
  font-family: "Brandon";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.submnstatus2 {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  text-align: center;
  margin-top: 20px;
  font-family: "Brandon";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}
.submnval {
  margin-bottom: 5px;
  font-size: 15px;
}
.submnlbl {
  font-size: 8px;
  color: #acbdd8;
}

.submnstatus3 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px;
  width: 85%;
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.subsubstat_ {
  display: grid;
  grid-template-columns: 93px auto;
  grid-gap: 10px;
}
.submnlbll {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Brandon";
  font-weight: bold;
  font-size: 11px;
  color: #bbc8deab;
  position: relative;
  top: 1px;
}
.submnvall {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Brandon";
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}

.submntwo {
  position: relative;
  font-family: "Raleway";
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 40px;
  padding: 40px;
  padding-bottom: 10px;
  display: block;
  width: 60%;
}
.submntwo_ {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  padding: 16px 40px;
  width: calc(100% - 80px);
}
.sbsbmn {
  display: block;
  font-family: "Brandon";
}
.sbsbtit {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 15px;
  padding: 10px 0;
  padding-bottom: 4px;
  color: rgba(255, 255, 255, 0.3);
}
.sbsbmail {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
  opacity: 0.7;
}
.passcd {
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  opacity: 0.7;
}
.sbsbpass {
  display: grid;
  grid-template-columns: auto 140px;
}
.butedit {
  background: rgba(6, 86, 149, 0.1);
  border: 1px solid rgba(6, 86, 149, 0.7);
  color: #fff;
  text-align: center;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 4px 0;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.butedit:hover {
  background: rgba(6, 86, 149, 1);
  border: 1px solid rgba(6, 86, 149, 7);
}
.sbsbpass_ {
  display: grid;
  grid-template-columns: auto 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
}
.sbsbval {
  color: #7f8ca0;
}
.sbsbval_ {
  color: #fff;
  text-align: right;
}

.inputat {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s;
}
.inputat_ {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 15px;
  height: 101px;
  opacity: 1;
  overflow: hidden;
  transition: 0.3s;
}
.inputat .inptxt,
.inputat_ .inptxt {
  background: #191e238a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
}

.buteditt {
  background: rgba(6, 86, 149, 0.1);
  border: 1px solid rgb(6, 86, 149);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 7px 28px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Brandon";
  position: absolute;
  bottom: -50px;
  left: 40px;
  letter-spacing: 1px;
}
.buteditt_ {
  background: rgba(76, 175, 80, 0.1);
  border: 1px solid #4caf50;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 7px 28px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Brandon";
  position: absolute;
  bottom: -50px;
  left: 40px;
  letter-spacing: 1px;
}
.butedittt {
  background: rgba(244, 67, 54, 0.1);
  border: 1px solid #f44336;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 7px 28px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Brandon";
  position: absolute;
  bottom: -50px;
  right: 40px;
  letter-spacing: 1px;
}

.inputatmn {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  height: 0px;
  opacity: 0;
  transition: 0.3s;
  position: relative;
}
.inputatmn_ {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  height: 36px;
  opacity: 1;
  transition: 0.3s;
  position: relative;
}

.notif_ {
  position: absolute;
  background: rgba(34, 41, 46, 0.97);
  z-index: 4;
  left: 60px;
  width: 400px;
  height: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.23);
  padding: 0 30px;
  font-family: "Brandon";
  transform: translateX(-10vw);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
}
.notif {
  position: absolute;
  background: rgba(34, 41, 46, 0.97);
  z-index: 4;
  left: 60px;
  width: 400px;
  height: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.23);
  padding: 0 30px;
  font-family: "Brandon";
  transform: translateX(0);
  opacity: 1;
  pointer-events: fill;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
}

.h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.36);
  text-transform: uppercase;
  cursor: pointer;
}
.h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.36);
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 30px;
}

.edwe {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px 35px 20px 20px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 38px auto;
  grid-gap: 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.edwe:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.hmra_::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #f44336;
  top: 0%;
  left: 0;
}
.khdra_::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #4caf50;
  top: 0%;
  left: 0;
}
.sefra_::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #ffa000;
  top: 0%;
  left: 0;
}

.dwrant {
  width: 26px;
  height: 25px;
  border-radius: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hmra {
  background: #f44336;
}
.sefra {
  background: #ffa000;
}
.khdra {
  background: #4caf50;
}

.closnt {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.ntttitle {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
  color: #fff;
}
.nttitle {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ntdesc {
  font-family: "brandon";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 2px;
  text-transform: uppercase;
  color: #adadad;
}
.nttime {
  font-family: "brandon";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 10px;
  margin-top: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.btnAtt {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: fill;
}

.edwe:hover .btnAtt {
  opacity: 1;
}
.btnAtt i {
  font-size: 25px;
}

.dsp {
  display: none !important;
}

/* ELEMENT SECTION */

.elyout_,
.elyout {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  display: block;
  background: url(../img/backVid.jpg) no-repeat center center;
  background-size: cover;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.elyout_ {
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.elyout {
  opacity: 1;
  transform: scale(1);
  pointer-events: fill;
  transition: all 0.3s ease-in-out;
}

.headlyut {
  position: relative;
}
.headlyut .mantit {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 30px;
}

.backbuttt {
  position: relative;
  top: -15px;
  color: #70acca;
  cursor: pointer;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  width: fit-content;
}

.menulyut {
  display: block;
  position: relative;
}

ul.flat-portfolio {
  list-style: none;
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  padding: 0;
  margin: 40px 0;
  font-family: "Brandon";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

ul.flat-portfolio li {
  display: block;
  background: #3b6073;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 2px 5px #00000059;
  box-shadow: 0px 2px 5px #00000029;
  opacity: 0.4;
}
ul.flat-portfolio li:hover {
  opacity: 1;
}

ul.flat-portfolio li.liActive {
  opacity: 1;
}

.wraplyut {
  position: relative;
  display: block;
}

.wraplyut .hidden {
  position: absolute;
  top: 0;
  transform: scale(0.5);
  opacity: 0;
  height: 0;
  pointer-events: none;
}
.wraplyut .viewerOn {
  position: absolute;
  top: 0;
  transform: scale(1);
  opacity: 1;
  pointer-events: fill;
}

.wraplyut .subWraplyut {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: inherit;
  justify-content: center;
  grid-gap: 15px;
  width: -webkit-fill-available;
  transition: all 300ms ease-in-out;
}

.subWraplyut .course-content {
  cursor: pointer;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: rgb(255 255 255 / 0.07);
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 12px #00000029;
  max-width: 300px;
}

.subWraplyut .course-content:hover {
  background: rgb(255 255 255 / 0.17);
}

.wrap-course-content {
  display: grid;
  grid-gap: 10px;
}

.wrap-course-content .course-tags {
  font-family: "Raleway";
  font-weight: 700;
  display: flex;
  grid-gap: 10px;
  font-size: 11px;
}

.wrap-course-content .course-tags div {
  color: #a6cfe2;
}

.wrap-course-content .course-title {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
}

.course-content .rating {
  font-family: "Gilroy";
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

.course-content .rating label {
  margin-right: 4px;
  font-size: 15px;
  color: #e6ad59;
  font-weight: 500;
}
.course-content .rating span {
  margin-left: 10px;
  font-size: 14px;
  color: #b9b9b9;
}

.course-content .rating i.material-icons {
  font-size: 18px;
  color: #ffffff45;
}

.course-content .rating i.on {
  color: #ffc064 !important;
}

.subWraplyut .dvlescrs {
  display: block;
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
  background: red;
  border-radius: 10px;
}

.subWraplyut .dvlescrs iframe {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/* IFRAM */

.ifram_ {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
  background: rgb(29, 35, 39);
  z-index: 4;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.ifram {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  transform: scale(1);
  pointer-events: fill;
  background: rgb(29, 35, 39);
  z-index: 4;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.top-bar {
  position: fixed;
  background: rgba(0, 0, 0, 0.76);
  display: grid;
  z-index: 1;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  grid-gap: 11px;
  padding: 17px 5px;
  border-radius: 10px;
  text-align: center;
  font-family: "Brandon";
  font-weight: 900;
  font-size: 14px;
  box-shadow: 0px 2px 12px #000000a1;
  opacity: 0.3;
  transition: 0.3s;
}
.top-bar:hover {
  opacity: 1;
  transition: 0.3s;
}

.btnn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}
.btnn i.material-icons {
  font-size: 25px;
}

.canvascontainer {
  position: absolute;
  display: none;
  z-index: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.xrt0 {
  display: block;
  width: 100%;
  /* height: 100%; */
  position: relative;
  top: 0;
  left: 0;
  transform: unset;
  transform-origin: unset;
}

.xrt90 {
  display: block;
  /* width: 100%; */
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg) scale(1.5);
  transform-origin: unset;
}
.xrt180 {
  display: block;
  width: 100%;
  /* height: 100%; */
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  transform-origin: unset;
}
.xrt270 {
  display: block;
  /* width: 100%; */
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg) scale(1.5);
  transform-origin: unset;
}

.outputProgress {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(29, 35, 39);
  width: 100%;
  height: 5px;
}
.outputProgress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.outputProgress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -50deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(29, 35, 39), #fff);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.lding_ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  width: 75px;
  z-index: -1;
  filter: blur(1px) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.bcblak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: transparent;
}

.dialogwrap {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: rgba(28, 35, 41, 0.7);
  /* transition: all 0.2s ease-in-out; */
}

.dialogwin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  background: #eee;
  box-shadow: 0px 2px 12px #000000e0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, 0);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
.dialogwin_ {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  background: #eee;
  box-shadow: 0px 2px 12px #000000e0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

.alertthing {
  position: absolute;
  background: #ddd;
  color: #171717;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 86%);
  font-family: "Brandon";
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 9;
  overflow: hidden;
}
.alertthing h1 {
  font-size: 20px;
  font-family: "Raleway";
  letter-spacing: 2px;
  color: #171717;
  text-transform: uppercase;
  background: #eee;
  margin: 0;
  padding: 15px 25px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 12px #00000014;
  font-weight: 600;
}
.alertthing label {
  display: block;
  padding: 0px 25px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 900;
}
.alertthing span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 7px 15px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Raleway";
  font-weight: 700;
  border: 1px solid #0000001f;
  border-radius: 25px;
}
.alertthing span:hover {
  background: rgba(0, 0, 0, 0.07);
}

.sdmn2 {
  position: absolute;
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  display: grid;
  grid-gap: 10px;
  font-family: "Brandon";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
}
.smn2it {
  position: relative;
  background: #aec6ef1c;
  padding: 7px 25px;
  padding-right: 10px;
  cursor: pointer;
  width: 280px;
  transition: all 0.3s ease-in-out;
}
.scdLundi {
  position: absolute;
  width: 3px;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}

.opa1 {
  opacity: 1 !important;
}

.smdl3iba {
  transition: 0.3s;
}

.sdmn2:hover .smdl3iba {
  opacity: 0.6 !important;
}

.smn2it:hover .smdl3iba {
  opacity: 1 !important;
}

.animwth {
  position: absolute;
  z-index: 3;
  background: none !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(100vw);
  transition: all 0.6s ease-in-out;
}
.bcgradwth {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(
    to top,
    rgba(28, 35, 41, 0.9),
    rgba(28, 35, 41, 0.6)
  );
}
.data1wth {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50px;
  font-family: "Brandon";
  text-transform: uppercase;
  letter-spacing: 1px;
}

.data1wth img {
  filter: invert(1) drop-shadow(0px 2px 5px #00000045);
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.dtwthstat {
  font-size: 28px;
  font-weight: 900;
}
.dtwthmdina {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: -5px;
}
.dtwthtemp {
  font-size: 80px;
  font-weight: 800;
}

.data2wth {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
  font-family: "brandon";
  text-transform: uppercase;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto auto auto;
}
.dtwthmore {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 10px;
}
.dtwthmore img {
  width: 90%;
  height: 100%;
  filter: invert(1);
  object-fit: contain;
}
.dtwthdivat label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffffa8;
}
.dtwthvar {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin-top: -4px;
  text-transform: initial;
}

.animrcm,
.animtdl,
.animscd {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "brandon";
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.6s ease-in-out;
}
.animrcm::after,
.animtdl::after,
.animscd::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(28, 35, 41, 0.86);
}
.animtdl {
  z-index: 1;
  background: #1c2329 url(../img/tdl.jpg) no-repeat center center;
  background-size: 85%;
  transform: translateY(100vw);
}
.animscd {
  z-index: 2;
  /*background: url(../img/scd.jpg) no-repeat center center;
    background-size: cover;*/
  transform: translateY(100vw);
}
.animrcm {
  z-index: 4;
  background: url(../img/rcm.jpg) no-repeat center center;
  background-size: cover;
  transform: translateY(100vw);
}

.scdltit {
  position: absolute;
  z-index: 1;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 900;
  top: 25px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 220px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.scdlop {
  position: absolute;
  z-index: 1;
  top: 54%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 850px;
}
.scdldays {
  display: block;
  position: relative;
  left: 60px;
  width: calc(100% - 60px);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}
.scdldays .scdtm {
  display: inline-block;
  width: calc((100% / 5) - 0px);
  margin-right: -3px;
}
.scdlwrap {
  display: grid;
  grid-template-columns: 60px auto;
  margin-top: 15px;
}
.scdltime {
  display: grid;
  grid-gap: 15px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}
.scdlcontent {
  display: block;
  position: relative;
  overflow: hidden;
}
.scdlcontent div {
  display: inline-block;
  width: calc((100% / 5) - 5px);
  margin-right: -4px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  height: 100%;
  vertical-align: top;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
}

.scdCOURS {
  background: rgba(22, 160, 133, 0.4);
}
.scdTP {
  background: rgba(41, 128, 185, 0.4);
}
.scdTD {
  background: rgba(211, 84, 0, 0.4);
}
.scdTD:after {
  content: "TD";
  position: absolute;
  font-size: 90px;
  bottom: -25px;
  left: -8px;
  z-index: -1;
  opacity: 0.1;
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: -7px;
}
.scdTP:after {
  content: "TP";
  position: absolute;
  font-size: 90px;
  bottom: -25px;
  left: -8px;
  z-index: -1;
  opacity: 0.1;
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: -7px;
}
.scdCOURS:after {
  content: "C";
  position: absolute;
  font-size: 90px;
  bottom: -25px;
  left: -8px;
  z-index: -1;
  opacity: 0.1;
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: -7px;
}

.scdTD,
.scdTP,
.scdCOURS {
  display: block;
  width: calc(100% - 32px);
  border: none;
  height: 40px;
  padding: 14px;
  font-weight: 800;
  text-shadow: none;
  color: #fff;
  font-size: 13px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
}

.scdTD p,
.scdTP p,
.scdCOURS p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 9px;
}

.scdcrtweek,
.scdnxtweek {
  position: relative;
  cursor: pointer;
}
.scdcrtweek i,
.scdnxtweek i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 100;
}

.tools_ {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 140px);
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
  background: rgba(28, 35, 41, 1);
  padding: 40px;
  padding-bottom: 100px;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
.tools {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 140px);
  top: 0%;
  left: 0;
  display: block;
  opacity: 1;
  transform: scale(1);
  pointer-events: fill;
  background: rgba(28, 35, 41, 1);
  padding: 40px;
  padding-bottom: 100px;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

section.tlselm {
  background: linear-gradient(45deg, #171717, transparent);
  border-radius: 20px;
  overflow: hidden;
  height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  color: #ffffff8f;
  font-family: "Brandon";
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: grid;
  grid-template-columns: auto 200px;
}
.tlstit {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 30px;
}
.tlsstit b {
  margin-left: -3px;
}
.tlsstit {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Raleway";
  color: #a67c52;
  letter-spacing: 1px;
  font-weight: 400;
}
.tlsdesc {
  font-size: 12px;
  letter-spacing: 1px;
}
.tlstget {
  position: absolute;
  bottom: 30px;
  background: #7f5f3f;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #00000026;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
}

.tlsback {
  position: relative;
}
.tlsback img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 30px;
  left: 20px;
  transform: scale(3.5) rotate(13deg);
}

.toolswrap {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin-top: 50px;
}

.offui3 {
  position: fixed;
  z-index: 3;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  background: #171717;
  left: 0;
  top: 0;
  padding: 40px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transform-origin: center;
}
.offui3_ {
  position: fixed;
  z-index: 3;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  background: #171717;
  left: 0;
  top: 0;
  padding: 40px;
  overflow: hidden;
  opacity: 1;
  pointer-events: fill;
  transform: scale(1);
  transform-origin: center;
}

.condoff h1 {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Brandon";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  color: #ffffff5e;
}
.wrapperOff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.wrapperOff img {
  position: relative;
  width: 400px;
  height: 200px;
  object-fit: contain;
  filter: drop-shadow(0px 2px 5px #0003);
  opacity: 0.6;
}
.wrapperOff p {
  text-align: center;
  font-family: "Brandon";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  margin-top: -20px;
  color: #737373;
  font-size: 12px;
}

.wrapdl3ibat {
  display: grid;
  margin-top: 40px;
  font-family: "Brandon";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 11px;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: auto;
}
.x2,
.x1 {
  padding: 12px 13px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
.x2:hover,
.x1:hover {
  text-decoration: underline;
}
.x1 {
  background: rgba(255, 255, 255, 0.1);
}

.ifram2_ {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
  background: #171717;
  z-index: 3;
  overflow: hidden;
}
.ifram2 {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  transform: scale(1);
  pointer-events: fill;
  background: #171717;
  z-index: 3;
  overflow: hidden;
}
.canvascontainer2 {
  position: relative;
  width: 100%;
  top: 30px;
  height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.dialogwinEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c2329;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.5);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.dialogwinEdit_ {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c2329;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
  pointer-events: fill;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.bigwrapEditron {
  position: relative;
  padding: 50px 20px;
  display: block;
  font-family: "Brandon";
  color: #fff;
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}
.signTimeLine {
  position: relative;
  display: block;
  text-align: center;
  width: 480px;
  margin: auto;
  margin-bottom: 50px;
}

.bubble {
  position: relative;
  display: inline-block;
  background: #30373c;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  border-radius: 100%;
  font-weight: 400;
  margin: 0 15px;
  vertical-align: middle;
  transition: all 300ms ease-in-out;
}
.onBubble {
  background: #c3cbd1;
  color: #000000;
  font-family: "Futura";
  transition: all 300ms ease-in-out;
}
.checked {
  color: transparent;
  background: #27ae60;
  transition: all 300ms ease-in-out;
}
.checked:before {
  position: absolute;
  content: "";
  background: #fff;
  width: 3px;
  height: 15px;
  top: 10px;
  left: 19px;
  transform: rotate(55deg);
  transition: all 300ms ease-in-out;
}
.checked:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 3px;
  height: 9px;
  top: 15px;
  left: 11px;
  transform: rotate(-45deg);
  transition: all 300ms ease-in-out;
}

.backLine {
  position: absolute;
  width: 90%;
  height: 8px;
  z-index: -1;
  background: #30373c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prgsTmgl {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #27ae60;
  transition: all 500ms ease-in-out;
}

.movingWithTmlg {
  position: relative;
  display: block;
  width: 520px;
  margin: auto;
}

.tlmgPosistionL {
  transform: translateX(-110%);
  opacity: 0;
  height: 300px;
  overflow: hidden;
  pointer-events: none;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.tlmgPosistionC {
  transform: translateX(0);
  opacity: 1;
  pointer-events: fill;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.tlmgPosistionR {
  transform: translateX(110%);
  opacity: 0;
  height: 300px;
  overflow: hidden;
  pointer-events: none;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.wrapDataTmlg {
  position: absolute;
  top: 0;
  display: block;
  width: calc(100% - 40px);
  margin-bottom: 95px;
  background: #2b353e7a;
  padding: 35px 20px;
  padding-bottom: 0px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.h1Tmlg {
  font-family: "Raleway";
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.labelTmlg {
  font-size: 17px;
  text-align: center;
  color: #eee;
}

.startTmlg {
  position: relative;
  display: block;
  margin: 50px auto;
  margin-bottom: 0;
  text-align: center;
  background: #2c3e50;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 23px;
  box-shadow: 0px 2px 8px #00000057;
  cursor: pointer;
}

.iSetToCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 25px;
}

.intTmlg {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 40px 0;
}
.blockTmlg {
  display: block;
  position: relative;
  padding: 20px 20px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px #0000004a;
  overflow: hidden;
  cursor: pointer;
}

.bcBlkTmlg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000009c;
  top: 0;
  left: 0;
  z-index: 0;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.blockTmlg:hover {
  transform: scale(1.05);
}

.blockinfTlmg {
  position: relative;
  display: grid;
  grid-gap: 30px;
}
.blockNameTmlg {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}
.blockYearTmlg {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 20px;
  background: #ffffff14;
  padding: 10px 2px;
  border-radius: 10px;
  border: 3px solid #ffffff1a;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}
.blockYearTmlg::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #eee;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
.blockYearTmlg:hover {
  color: #171717;
  border-color: transparent;
  background: #c5c5c5;
}

.blockBranchTmlg {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 20px;
  background: #ffffff14;
  padding: 8px 15px;
  border-radius: 10px;
  border: 3px solid #ffffff1a;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blockBranchTmlg:hover {
  color: #171717;
  border-color: transparent;
  background: #c5c5c5;
}
.blockBranchTmlg label {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
}

/* EXTRA */
/* EXTRA */
/* EXTRA */
/* EXTRA */
/* EXTRA */
/* EXTRA */
/* EXTRA */
/* EXTRA */

.bigwrapEditron h1 {
  background: #fff;
  margin: 0;
  padding: 10px 25px;
  color: #000;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 2px 12px #0003;
  margin-bottom: 20px;
}
.wrapEditron {
  position: relative;
  display: grid;
  color: #fff;
  font-family: "Raleway";
  font-weight: 600;
  padding: 0 100px;
  grid-gap: 20px;
  grid-template-columns: auto;
}
.sgnsdiv_ {
  display: grid;
  grid-gap: 10px;
  text-transform: capitalize;
}
.sgnsdiv_ select {
  outline: none;
  border: none;
  box-shadow: 0px 2px 12px #00000033;
  padding: 6px 2px;
  font-size: 14px;
  width: -webkit-fill-available;
}
.sgnsdiv_ option {
  font-weight: 600;
  letter-spacing: 1px;
}
.oketron {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100px;
  color: #fff;
  font-family: "Raleway";
  font-weight: 700;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background: #2c3e50;
  border-bottom: 4px solid #495f75;
}
.oketron:active {
  border-color: transparent;
  top: 4px;
}

.bigwrapEditron p {
  display: block;
  position: relative;
  color: #000;
  padding: 15px 25px;
  padding-top: 0;
  font-family: "Brandon";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0px 2px 10px #00000026;
  font-size: 12px;
}

.textAleaTmlg {
  font-family: "Brandon";
  font-size: 16px;
  text-align: justify;
  padding: 20px 25px;
  border: 2px solid #ffffff29;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 200px;
  background: #0000001f;
}

.bckTmlg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.canvasTmlg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.layer1Bg {
  background: url(../img/4025568.png) no-repeat;
  background-position-x: center;
  background-position-y: -10%;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: brightness(0.6) hue-rotate(92deg);
}
